<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-Waste Management System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/style.css') }}">
</head>

<body>

    <header class="header-fixed">

        <div class="header-limiter">

            <h1><a href="#">E-waste<span>Api</span></a></h1>

            <nav>
                <a href={{url_for('main')}}>Home</a>
                <a href={{url_for('about_page')}}>About Us</a>
                <a href={{url_for('contributors')}}>Contributors</a>
            </nav>
        </div>

    </header>

    <section class="hero">
        <div class="hero-content">

            <h2>About Us</h2>

        </div>
    </section>


    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
        <a href={{url_for('main')}}>Home</a>
        <a href={{url_for('about_page')}}>About Us</a>
        <a href={{url_for('contributors')}}>Contributors</a>
    </div>
    <div class="container">

        <div class="card">
            <div class="content">
                <center>
                    <p><br>
                        E-Waste Management System (Tentative Machine)<br>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Less manual work will be
                        required for salvaging valuable materials and
                        electronics parts for
                        reuse.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Helps in reducing large
                        amount of E-waste generated every year and disposed by incorrect method.<br>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;This system will help us
                        to send maximum amount of e-waste to proper recycling centers.<br> There
                        will
                        be decrease in e-waste generation to recycling ratio.<br><br>

                        COMPONENTS REQUIRED<br>
                        •Raspberry pi<br>
                        •Camera Module<br>
                        •Servo Motor<br>
                        •Display<br>
                        •Ultrasonic Sensor<br>
                        •Weight Sensor<br><br>

                        PROTOTYPE<br>
                        Using Web App / Mobile app demonstrating classification.
                    </p>
                </center>&nbsp;&nbsp;&nbsp;
            </div>


            <footer>
                <div class="row inner">

                    <span class="meta">
                        <ul class="links">
                            <a href={{url_for('contributors')}}>Contributors</a>
                        </ul>
                    </span>
                </div>
            </footer>

</body>

</body>

</html>